@import "../../../config-scss/rem-calc.scss";
:host {
  main {
    max-width: 35%;
    margin: auto;
    margin-top: rem-calc(40);

    .pokemon__names {
      position: relative;
      display: flex;
      justify-content: flex-end;

      height: rem-calc(75);

      padding: 0 rem-calc(30);

      h1 {
        position: absolute;
        top: rem-calc(50);
        right: rem-calc(10);

        color: var(--branco);
        font-size: rem-calc(32);
        font-weight: bold;

        text-transform: capitalize;
      }

      h2 {
        position: absolute;
        font-weight: 100;
        top: 0;
        right: 0;
        font-size: rem-calc(60);
        color: rgba(255, 255, 255, 0.1);
      }
    }

    .pokemon__status {
      position: relative;

      img {
        position: absolute;
        top: rem-calc(-70);
        left: rem-calc(35);
        max-width: rem-calc(130);
      }

      &__statistics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background: var(--branco);

        min-height: 70vh;
        margin-top: rem-calc(10);

        padding: rem-calc(110) rem-calc(35) rem-calc(30);
        border-radius: rem-calc(50) rem-calc(50) 0 0;

        h3 {
          margin-bottom: rem-calc(20);

          font-style: italic;
          font-size: rem-calc(32);
          font-weight: bold;

          text-decoration: underline;
          color: var(--secondary);
        }

        ol {
          li {
            display: flex;
            justify-content: space-between;
            font-size: rem-calc(18);
            line-height: 130%;

            strong {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: rem-calc(320)) {
  :host {
    main {
      margin-top: rem-calc(10);

      max-width: 90%;
      margin: auto;

      .pokemon__names {
        h1 {
          font-size: rem-calc(32);
        }

        h2 {
          top: rem-calc(0);
          font-size: rem-calc(60);
        }
      }

      .pokemon__status {
        position: relative;

        img {
          position: absolute;
          top: rem-calc(-80);
          left: rem-calc(0);
          max-width: rem-calc(100);
        }

        &__statistics {
          min-height: 50vh;
          padding-top: rem-calc(50);
        }
      }
    }
  }
}

@media screen and (min-width: rem-calc(660)) {
  :host {
    main {
      max-width: 35%;
      margin: auto;
      margin-top: rem-calc(40);
    }
  }
}
