@import "../../../config-scss/rem-calc.scss";

@media screen and (min-width: rem-calc(660)) {
  :host {
    .section__main {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      margin: auto;

      .pokemon {
        width: 42%;
      }
    }
  }
}
@media screen and (min-width: rem-calc(1020)) {
  :host {
    .search {
      width: 90%;
      margin: rem-calc(15) auto;
    }
  }
}

@media screen and (min-width: rem-calc(1440)) {
  :host {
    width: 100%;
    .section__main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      margin: auto;
      gap: 1rem;
    }
    .pokemon {
      min-width: rem-calc(400);
      width: 80%;
    }
  }
}
