@import "../../../config-scss/rem-calc.scss";

$rem: rem-calc(20);
:host {
  display: grid;
  grid-template-columns: 1fr;

  width: 85%;
  margin: auto;
  padding: $rem 0;

  .pokemon {
    position: relative;
    display: flex;
    padding: $rem;
    margin-bottom: $rem;

    height: rem-calc(130);
    width: 90%;

    border-radius: rem-calc(10);
    background-color: var(--branco);

    text-transform: capitalize;
    text-decoration: none;
    color: var(--primary);

    transition: transform 0.1s ease;

    &__status {
      h2 {
        font-size: rem-calc(22);
        font-weight: 900;
        font-style: italic;

        margin-bottom: rem-calc(15);
      }

      ul {
        font-size: rem-calc(12);
        font-weight: 400;

        li {
          background-color: var(--light-gray);
          margin: rem-calc(5);
          border-radius: rem-calc(32);
          padding: rem-calc(5);
          width: rem-calc(55);
          text-align: center;
        }
      }
    }

    &__img {
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      height: rem-calc(90);
      width: rem-calc(110);

      right: $rem;
      bottom: $rem;

      background: url("../../../assets/svg/background-pokemon.svg") no-repeat;

      img {
        width: rem-calc(70);
      }
    }
  }

  .pokemon:hover {
    transform: scale(1.01);
  }
}
