@import "./rem-calc.scss";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: rem-calc(20) 0;

  text-decoration: none;

  border-radius: rem-calc(10);

  &__primary {
    color: var(--branco);
    background: var(--primary);
  }

  &__secondary {
    color: var(--branco);
    background: var(--secondary);
  }
}
