@import "./config-scss/reset.scss";
@import "./config-scss/variables.scss";
@import "./config-scss/rem-calc.scss";

main {
  box-sizing: border-box;
  width: 100%;
}

html {
  background-color: var(--primary);
  font-family: "Segoe UI", sans-serif;
}

body::-webkit-scrollbar {
  width: rem-calc(0);
}
