@import "./config-scss/reset.scss";
@import "./config-scss/variables.scss";
@import "./config-scss/rem-calc.scss";

main {
  box-sizing: border-box;
  width: rem-calc(600);
  margin: 0 auto;
}

html {
  background-color: var(--primary);
  font-family: "Segoe UI", sans-serif;
}
